@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
    font-family: Onest;
    src: url(../font/Onest-VariableFont_wght.ttf);
}

* {
    margin: 0%;
    scrollbar-width: none;
    font-family: 'Onest', Arial;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
}

/* Header */
.header {
    font-weight: 600;
    background-image: url(../img/banner.png);
    background: linear-gradient(to right, rgba(28, 52, 51, 0.9) 0%, rgba(28, 52, 51, 0.4) 100%), url(../img/banner.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    border: 2px solid transparent;
    padding: 8px 16px;
    border-radius: 7px;
}

.header nav a:hover {
    border-color: #ffffff;
}

/* Main */
.main {
    color: white;
    padding: 60px 10px;
    display: flex;
    width: 60vw;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-text {
    max-width: 600px;
}

.main-text h2 {
    font-size: 50px;
}

.main-text h2 span {
    color: #53CC6C;
}

.main-text p {
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-text a {
    font-weight: 400;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #53CC6C;
    color: #53CC6C;
    padding: 20px 40px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 20px;
}

/* In Company */
.in-company {
    background-color: #2B2D3D;
    display: flex;
    height: 110vh;
    width: 100vw;
}

.in-company img {
    height: 100%;
    width: 100%;
    border-radius: 0;
    object-fit: cover;
    display: block;
}

.in-company .text {
    font-weight: 400;
    display: flex;
    min-width: 50%;
    justify-content: center;
    flex-direction: column;
    ;
    color: #ffffff;
    padding: 25px;
}

.in-company .text h2 {
    font-weight: 600;
    color: #53CC6C;
    font-size: 50px;
    padding-left: 120px;
    padding-right: 120px;
}

.in-company .text p {
    margin-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
}

.in-company .text ul {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    list-style: none;
    padding-left: 120px;
    padding-right: 120px;
}

.in-company .text ul>li {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.in-company .text ul li>i {
    margin-right: 20px;
    color: #53CC6C;
    font-size: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.in-company .text .btn-company {
    display: inline-block;
    max-width: 280px;
    background: #49d17d;
    color: white;
    padding: 20px 35px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 120px;
    margin-top: 25px;
}

/* Mentoria */
.mentoria {
    background: #ffffff;
    display: flex;
    width: 100vw;
    height: 110vh;
}

.mentoria-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 50%;
    margin: 37px;
}

.text h3 {
    color: #669997;
    font-size: 40px;
    margin-bottom: 15px;
}

.text p {
    font-weight: 200;
    margin-bottom: 15px;
}

.text ul {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.text ul>li {
    display: flex;
    align-items: center;
}

.text ul>li>i {
    margin-right: 20px;
    color: #53CC6C;
    font-size: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.mentoria-img img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.btn-mentoria {
    display: inline-block;
    background: transparent;
    border: 1px solid#669997;
    color: #669997;
    padding: 15px 30px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 30px;
}

/* Quick Wins */
.quick-wins {
    padding: 60px 20px;
    background-color: #fff9f5;
}

.quick-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.text-content {
    flex: 1;
    min-width: 320px;
    padding-right: 40px;
}

.text-content h2 {
    font-size: 40px;
    color: #f26b1d;
    margin-bottom: 15px;
}

.text-content .quote {
    color: #003b2b;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    max-width: 500px;
}

.text-content p>i{
    font-size: 30px;
}

.text-content p {
    color: #333;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 500px;
}

.text-content .btn-quick {
    display: inline-block;
    padding: 15px 20px;
    border: 1px solid #f26b1d;
    color: #f26b1d;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.3s, color 0.3s;
    margin-top: 30px;
}

.text-content .btn-quick:hover {
    background-color: #f26b1d;
    color: #fff;
}

.fundo_imagem-4 {
    background-image: linear-gradient(to left, rgba(255, 102, 0, 0.5), rgba(255, 102, 0, 0.9), rgba(255, 102, 0, 0.555));
    width: 450px;
    height: 460px;
    margin-top: 120px;
    margin-left: 187px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
}
 
.fundo_imagem-4>img {
    margin-top: -40px;
    width: 400px;
    height: 500px;
}

/* Vídeos */
.grid-videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.videos .title{
    display: flex;
    align-items: center;
}

.videos .title>h3 {
    color: #1C3433;
    font-size: 35px;
    padding: 15px;
}

.videos .title>p {
    font-weight: 100;
    max-width: 400px;
    font-size: 13px;
}

.grid-videos figure {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-weight: 100;
}

.figure-fred-terno-azul {
    background-image:
        url(../img/fred-video1.png);
}
 
.figure-fred-camisa-branca {
    background-image:
        url(../img/fred-video2.png);
}
 
.figure-fred-sorrindo {
    background-image:
        url(../img/fred-video3.png);
}
 
.figure-fred-xeque-mate {
    background-image:
        url(../img/fred-video4.png);
}

.grid-videos figcaption {
    margin-top: auto;
    width: 200px;
    margin-bottom: 10px;
}

.btn-videos {
    display: flex;
    background: transparent;
    color: #53CC6C;
    border: 1px solid #53CC6C;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 40px;
    justify-content: center;
    max-width: 300px;
    margin-left: 430px;
}

.grid-videos figcaption > h4 {
    font-size: 15px;
    margin-bottom: 5px;
}
 
.grid-videos figcaption > p {
    font-size: 12px;
    margin-bottom: 15px;
}
 
.grid-videos figcaption > a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}
 
.grid-videos figcaption > a i {
    margin-left: 5px;
}

/* Blog */
.blog{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F2EC;
}
 
.blog .container-blog{
   width: 1300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
.blog .container-blog .titulo-blog {
    display: flex;
    color: #fff;
    align-items: center;
}
 
.blog .container-blog .titulo-blog > h2{
    margin-right: 20px;
    color: #1C3433;
    font-size: 30px;
}
 
.blog .container-blog .titulo-blog > p{
    width: 500px;
    color: #6B6A66;
}
 
.grid-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
 
.grid-blog figure{
    width: 400px;
    height: 420px;
    background-color: #fff;
    border-radius: 10px;
 
}
 
.grid-blog figure>img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
 
.grid-blog figure figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 20px;
    height: 90px;
}
 
.grid-blog figure figcaption > h2{
    font-size: 20px;
}
 
.grid-blog figure figcaption > a{
    text-decoration: none;
    color: #53CC6C;
    font-weight: 500;
}
 
.container-blog .btn-acesso-blog{
    text-align: center;
    text-decoration: none;
    border: 1px solid #53CC6C;
    color: #53CC6C;
    width: 300px;
    padding: 20px;
    border-radius: 7px;
}
 
.container-blog .container-btn{
    display: flex;
    justify-content: center;
}

/* Quem é */
.quem-e {
    padding: 60px 0;
}

.quem-e-content {
    display: flex;
    gap: 150px;
    align-items: center;
}

.quem-e h3 {
    color: #1C3433;
}

.quem-e h6 {
    color: #1C3433;
    font-size: 15px;
    max-width: 500px;
}

.quem-e p {
    font-weight: 100;
    padding-top: 10px;
    max-width: 550px;
}

.btn-quem {
    display: inline-block;
    background: transparent;
    color: #53CC6C;
    border: 1px solid #53CC6C;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;;
}

/* Clientes */
.clientes {
    padding: 60px 0;
    text-align: center;
    margin: 40px;
}

.clientes h3 {
    color: #1C3433;
    font-size: 35px;
}

.clientes p {
    font-weight: 100;
    max-width: 500px;
    justify-self: center;
}

.clientes img {
    margin: 30px;
}

/* CTA Final */
.cta {
    background-color: #2B2D3D;
    display: flex;
    margin: 80px;
    border-radius: 20px;
}

.cta img {
    height: 100%;
    width: 100%;
    border-radius: 0;
    object-fit: cover;
    display: block;
}

.cta .text {
    font-weight: 400;
    display: flex;
    min-width: 50%;
    justify-content: center;
    flex-direction: column;
    ;
    color: #ffffff;
    padding: 25px;
}

.cta .text h2 {
    font-weight: 600;
    color: #53CC6C;
    font-size: 50px;
    padding-left: 120px;
    padding-right: 120px;
}

.cta .text p {
    margin-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
}

.cta .text ul {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    list-style: none;
    padding-left: 120px;
    padding-right: 120px;
}

.cta .text ul>li {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.cta .text ul li>i {
    margin-right: 20px;
    color: #53CC6C;
    font-size: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.cta .text .btn-company {
    display: inline-block;
    max-width: 280px;
    background: #49d17d;
    color: white;
    padding: 15px 35px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 120px;
    margin-top: 15px;
}

/* Geral */
.text {
    max-width: 600px;
}